body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

.form-container{
    background: linear-gradient(135deg, #f857a6,#ff5858);
    margin: 20px 0;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px 50px
}

#book-list{
    font-size: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
}

form button {
    padding: 10px 20px;
    border: none;
    background: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

form button:hover {
    background: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete {
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
}

button.delete:hover {
    background: #c9302c;
}